

iframe {
    width: 70%;
    border: none;
    height: 180px;
    background-color: #81F7BE;
}

img {
    max-width: 20%;
    height: auto;
    border-width: 15px;
    border: 10px groove rgb(4, 180, 95);
    padding: 10px;
    border-image: url(border.webp) 40 repeat;
    border-collapse: separate;
}

h1 {

    font-size: clamp(2em, 1.5vw, 2em);
    border-radius: .5em;
    border-color: #3f2aa3;
    text-align: center;
}

body {

    color: #3f2aa3;
    background-color: #81F7BE;
    font-family: "Papyrus", fantasy;

    font-size: clamp(1em, 1.5vw, 2em);
}

form {
    text-align: center;

}

header {
    text-align: center;

}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.grid-container {

    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 10px;
    padding: 20px;
    margin-left: 10%;

}
.grid-container > div {

    background-color: #dff5e9;
    text-align: center;
    padding: 20px 0;
    font-size: 1em;

}